h1 {
  font-size: 1.2em;
  color: #999;
  margin-bottom: 0;
}
h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}
#nav2 a {
  padding: 5px 10px;
  text-decoration: none;
  margin: 10px 5px 0 5px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
#nav2 a:visited, a:link {
  color: #607d8b;
}
#nav2 a:hover {
  color: #039be5;
  background-color: #cfd8dc;
}
#nav2 a.active {
  color: #039be5;
}
#nav2{
  position: absolute;
  left:50%;
  top:100px;
  width:300px;
  height:100px;
}
