<div class="container">
  <h1>个人信息登记卡</h1>
<form (ngSubmit)="onSave()" #uForm="ngForm">
  <div class="form-group">
    <label for="name">Name:</label>
    <input type="text" class="form-control" id="name" required
           required minlength="1" maxlength="10"
           [(ngModel)]="user.name" name="name" #name="ngModel" placeholder="请输入姓名">
    <div *ngIf="name.invalid && (name.dirty || name.touched)"
         class="alert alert-danger">
      姓名不能为空!
    </div>
  </div>
  <div class="form-group" id="genderForm">
    <label for="gender">Gender:</label>
    <!--<input type="text" class="form-control" id="sex" minlength="1" maxlength="1"-->
           <!--required [(ngModel)]="user.sex" name="sex" #sex="ngModel" placeholder="请输入性别">-->
    <input type="radio" value="男" id="gender" [(ngModel)]="user.gender" name="gender"><p for="gender">男</p>
    <input type="radio" value="女" id="gender1" [(ngModel)]="user.gender" name="gender1"><p for="gender1">女</p>
    <!--<div *ngIf="sex.invalid && (sex.dirty || sex.touched)" class="alert alert-danger">-->
      <!--性别不能为空!-->
    <!--</div>-->
  </div>
  <div class="form-group">
    <label for="age">Age:</label>
    <input type="text" class="form-control" id="age" minlength="1" maxlength="3"
           required onkeyup="if(!/^(?:[1-9][0-9]?|1[01][0-9]|150)$/.test(value)){value=''}"
           [(ngModel)]="user.age" name="age" #age="ngModel" placeholder="请输入年龄">
    <div *ngIf="age.invalid && (age.dirty || age.touched)" class="alert alert-danger">
      年龄不能为空!
    </div>
  </div>
  <div class="form-group">
    <label for="tel">Tel:</label>
    <input type="text" class="form-control" id="tel" required minlength="11" maxlength="11"
           pattern="^1[34578]\d{9}$"
           [(ngModel)]="user.tel" name="tel" #tel="ngModel" placeholder="请输入电话号码">
    <div *ngIf="tel.invalid && (tel.dirty || tel.touched)" class="alert alert-danger">
      电话号码不能为空或者规则不对!
    </div>
  </div>
  <div class="form-group">
    <label for="address">Address:</label>
    <input type="text" class="form-control" id="address" required minlength="3" maxlength="50" [(ngModel)]="user.address" name="address" #address="ngModel" placeholder="请输入家庭地址">
    <div *ngIf="address.invalid && (address.dirty || address.touched)" class="alert alert-danger">
      地址不能为空!
    </div>
  </div>
  <button type="submit" class="btn btn-success" (click)="onSave()" [disabled]="!uForm.form.valid" class="save">保 存</button>
  <button type="submit" class="btn btn-success" (click)="onCancel()" [disabled]="!uForm.form.valid" class="cancel">关 闭</button>
</form>
</div>
